body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;

    font-size: 16px;
    line-height: 1.6;
    color: #000;
}

*,
*:before,
*:after {
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    text-decoration-color: #000;
    outline: none;
    color: #000;
}

/* Container */
.container {
    width: 100%;
    max-width: 1250px;
    padding: 0 25px;
    margin: 0 auto;
    text-align: center;
    height: auto;
}

.hidden {
    visibility: hidden;
}

/* Styles */

/* Header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;

    margin-top: 30px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
}

.header__logo {
    width: 50px;
    height: 50px;
}

.header__title {
    color: #E25D5D;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 15px;
    transform: translateY(15px);
}

.header__button {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-family: inherit;
    color: #E5E5E5;
    text-transform: uppercase;
    background-color: #E25D5D;
    border-radius: 50px;
    padding: 10px 30px;
    box-shadow: 0 0.2rem 0.6rem 1px rgb(0 0 0 / 50%);
    border: transparent;
    height: auto;
    align-self: center;
}

.header__button:hover {
    transition: background-color .2s ease-in-out;
    background-color: #f37575;
}

.header__button:focus {
    border: transparent;
}

/* Footer */
.footer {
    flex: 0 0 auto;
    width: 100%;
    height: 36px;
    background-color: #E25D5D;
}

.footer__inner {
    color: #E5E5E5;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-style: italic;
}

/* Content */
.content {
    margin: 80px 0 0;
}

.content__bg {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.content__inner {
    text-align: left;
    font-size: 1.2rem;
}

.content__row {
    display: flex;
    margin-bottom: 25px;
}

.content__text {
    padding: 15px;
}

@media (max-width: 1024px) {
    .content__inner {
        font-size: 1rem;
    }
}

@media (max-width: 820px) {
    .header__title {
        font-size: 1.4rem;
    }
}

@media (max-width: 665px) {
    .header__title {
        font-size: 1.3rem;
    }

    .header__button {
        font-size: .7rem;
    }
    .content__inner {
        font-size: .9rem;
    }
}

@media (max-width: 600px) {
    .content__row {
        flex-direction: column;
    }

    .content__row:nth-child(2) {
        flex-direction: column-reverse;
    }

    .content__bg {
        width: inherit;
        height: 150px;
    }

    .header__title {
        font-size: 1rem;
    }
}